<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A22 Assignment</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="nav">
    <a href="/" class="page">回到首頁</a>
    <div>
      <a class="page" href="/about">About</a>
      <a class="page" href="/portfolio">Portfolio</a>
      <a class="page" href="/contact">Contact</a>
    </div>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>

</html>